@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Roboto:wght@100&display=swap");
.icon a {
  color: #424242;
  font-size: 1.5rem;
}
.image-grayscale {
  filter: grayscale(70%);
  opacity: 0.2;
}
.reffly-style {
  margin: 0;
  color: #424242;
  font-weight: 400;
  /* font-size: 1rem; */
  /* line-height: 1.5; */
  letter-spacing: 0.00938em;
  font-family: "Beth Ellen";
  font-size: 40px;
  font-weight: 700;
  margin-top: 8 px;
}
.addlinkicon-style {
  transform: rotate(-60deg);
  font-size: 3.5rem;
  background-color: #4caf50;
  color: #424242;
  border-radius: 100%;
  padding: 10px;
}