.reffly-style {
  color: #424242;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-family: "Beth Ellen";
  font-size: 40px;
  font-weight: 700;
  margin-left: 5px;
}
.addlinkicon {
  transform: rotate(-60deg);;
  color: #424242;
  font-size: 3.9rem;
}


/* input field  */
.input-field{
      /* font: inherit;
    letter-spacing: inherit;
    color: currentColor; */
    /* padding: 4px 0 5px; */
    border: 0;
    box-sizing: content-box;
        background-color: rgb(59, 59, 59);
    /* height: 1.4375em; */
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    min-width: 0;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 26px;
    margin-left: 1.6%;
    color: white;
}